.april15 {
  background: $lightgrey;
  padding: 2.5%;

  h1,
  h2 {
    @extend %type--condensed;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 20px 0;
  }

  h2 {
    color: $grey;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5;
    text-transform: uppercase;
  }

  .april15-main-article {
    column-count: 2;
    column-gap: 50px;
    margin-top: 50px;

    p {
      line-height: 1.5;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 100px;
      }
    }

    q,
    i {
      display: block;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 30px;
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 750px) {

  .april15 {
    column-count: 1;
  }
}
