.back {
  padding: 2.5%;

  a {
    @extend %type--serif;
    color: $red;
    font-size: 2rem;
    font-weight: 700;
  }
}

.table-of-contents {

  h1 {
    @extend %type--headers;
    color: $black;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
}

.table-of-contents--items {
  column-count: 2;
  column-gap: 20px;

  @include desktop {
    column-count: 4;
    column-gap: 100px;
  }

  div {
    break-inside: avoid;
    min-height: 165px;
    padding-bottom: 30px;
  }

  h2 {
    @extend %type--numbers;
    color: $black;
    font-size: 2rem;
    margin-bottom: 5px;
  }

  p {
    @extend %type--body;
    color: $grey;
    line-height: 1.5;
  }

  .red {
    color: $red;
  }

}
