<div class="home-container">
<% var n = 0;
for(var key in public.playground._data){
  n++ %>
  <div class="snippet">
    <a href="<%= public.playground._data[key].link %>" class="title">
      <%= public.playground._data[key].title %>
    </a>
    <p><%= public.playground._data[key].description %></p>
  </div>

  <% } %>
</div>

  <% function getColorMatrix(colors) {
    var value = [];
    var color1 = colors[0] || [255, 255, 255];
    var color2 = colors[1] || [0, 0, 0];
    value = value.concat([color1[0]/256 - color2[0]/256, 0, 0, 0, color2[0]/256]);
    value = value.concat([color1[1]/256 - color2[1]/256, 0, 0, 0, color2[1]/256]);
    value = value.concat([color1[2]/256 - color2[2]/256, 0, 0, 0, color2[2]/256]);
    value = value.concat([0, 0, 0, 1, 0]);
    return value.join(' ');
  } %>
