.header-container {
  background: $lightgrey;
  padding: 2em;
}

.header-title {
  align-items: center;
  color: $black;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-right: 20px;
}

.global-nav {
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;

  &__item {
    display: inline-block;
    list-style: none;
    padding: 1rem;
  }
}

.logo {
  margin-right: 20px;
  width: 64px;
}
