.header__container {
  padding: 1rem;
}

.header__title {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-right: 20px;
}

.global-nav {
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;

  &__item {
    display: inline-block;
    list-style: none;
    padding: 1rem;
  }
}
