.home {
  .header-container {
    background: $accent;

    #logo {
      fill: $white;
    }
  }

  .header-title {
    color: $white;

    &:hover {
      opacity: .7;

      #logo {
        opacity: .7;
      }
    }
  }
}
