html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

svg {
  color-interpolation-filters: sRGB;
}

.button {
  @extend %type--sans;
  background: $black;
  border: 0;
  border-radius: 3px;
  color: $white;
  font-size: 1em;
  padding: 1em;

  &--primary {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
    }
  }
}

.back {
  padding: 2.5%;
  position: relative;
  z-index: 3;

  a {
    color: $dimgrey;
  }
}

.defs-only {
  height: 0;
  left: -100%;
  overflow: none;
  position: absolute;
  width: 0;
}

.home {
  .header-container {
    background: $primary;
    padding: 2em;
  }

  .header-title,
  p {
    color: $white;
  }
}

.home-container {
  padding: 0 40px;

  @include desktop {
    display: flex;
  }

  @include tablet {
    display: flex;
  }
}

.snippet {
  width: 100%;

  @include desktop {
    margin: 0 50px 50px 0;
    width: 300px;
  }

  svg {
    fill: $primary;
    margin: 30px 0;
  }

  .title {
    border-bottom: 5px solid $lightgrey;
    color: $primary;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;

    &:hover {
      color: lighten($primary, 20%);
    }
  }

  p {
    @extend %type--serif;
    color: $grey;
  }
}

.offline {
  padding: 30px;
  text-align: center;

  a {
    display: block;
    padding: 30px 0;
  }

  #no-connection {
    fill: lighten($dimgrey, 30%);
    margin-bottom: 30px;
    width: 100%;
  }
}

.palette-box {
  border-radius: 3px;
  display: inline-block;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
  width: 32px;
}

code {
  background-color: $lightgrey;
  margin-right: 5px;
  padding: 10px;
}
