$cadetblue: #5f9ea0;
$blueviolet: #8a2be2;
$cornflowerbluwe: #6495ed;
$dodgerblue: #1e90ff;
$grey: #808080;

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mercury {
  @include flex-center;
  height: 100vh;

  &-title {
    height: 80vh;
  }

  &-mood {
    @extend %type--serif;
    color: $cadetblue;
    font-size: 1.4em;
    width: 50%;
  }
}
