%type--serif {
  font-family: 'ff-tisa-web-pro', sans-serif;
}

%type--sans {
  font-family: 'europa', sans-serif;
}

%type--numbers {
  font-family: 'ff-spinoza-web-pro', serif;
}

%type--condensed {
  font-family: 'franklin-gothic-urw-comp', sans-serif;
}

body {
  @extend %type--sans;
}

h1,
h2,
h3 {
  @extend %type--serif;
  color: $black;
  font-weight: 700;
}

a {
  @extend %type--sans;
  color: $primary;
  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    color: lighten($primary, 20%);
  }

  &.more-link {
    border-bottom: 0;
    color: $accent--lighter;
    margin-top: .5em;
    text-align: right;
  }
}

.words {
  display: block;
  padding-top: 20px;
  text-transform: uppercase;

  .dim {
    color: $dimgrey;
  }
}
