%type--serif {
  font-family: 'ff-tisa-web-pro', sans-serif;
}

%type--sans {
  font-family: 'ff-basic-gothic-web-pro', sans-serif;
}

%type--slab {
  font-family: 'raleway', sans-serif;
}

%type--numbers {
  font-family: 'ff-spinoza-web-pro', serif;
}


body {
  @extend %type--sans;
}

h1,
h2,
h3 {
  @extend %type--serif;
  color: $black;
  font-weight: 700;
}

a {
  @extend %type--sans;
  color: $blue;
  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    color: $accent;
  }

  &.more-link {
    border-bottom: 0;
    color: $accent--lighter;
    margin-top: .5em;
    text-align: right;
  }
}
