%type--headers {
  font-family: 'freight-text-pro', sans-serif;
}

%type--body {
  font-family: 'Merriweather', sans-serif;
}

body {
  @extend %type--body;
}

h1,
h2,
h3 {
  @extend %type--headers;
  color: $black;
  font-weight: 700;
}

a {
  @extend %type--body;
  color: $blue;
  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    color: $accent;
  }

  &.more-link {
    border-bottom: 0;
    color: $accent--lighter;
    margin-top: .5em;
    text-align: right;
  }
}
