<section class="about-section">
  <section class="about__intro">
    <h1 class="about__title">About</h1>
    <p class="about__main-desc">
      This is just a playground. Right now I'm using Harp. 
    </p>
  </section>
</section>
