<div class="layout-grid">
<% var n = 0;
for(var key in public._data){
  n++ %>
  <div>
    <a href="<%= public._data[key].link %>">
      <img src="<%= public._data[key].image %>" alt="<%= public._data[key].alt %>">

      <span class="title"><%= public._data[key].title %></span>
    </a>
  </div>

  <% } %>
</div>
