<div class="home">
  <div class="snippet">
    <a href="/magazine" class="title">Magazine layouts on the web</a>
    <p>I collect several magazine layouts and recreate them with css.</p>
  </div>

  <div class="snippet">
    <a href="/palette" class="title">Color palette from image</a>
    <p>Reacreating the iTunes library behaviour where  the track list takes a gradient of the album cover as a background.</p>
  </div>
</div>
