<svg class="defs-only">
<filter id="duotone" color-interpolation-filters="sRGB"
        x="0" y="0" height="100%" width="100%">
  <feColorMatrix type="matrix"
    values="0.95 0 0 0  0.05
            0.65 0 0 0  0.15
            0.15 0 0 0  0.50
              0  0 0 1  0" />
</filter>
</svg>
<div class="home-container">
  <div class="snippet">
    <figure>
      <img src="/img/may8.jpg" alt="Photo of the printed magazine layout for May 8th" />
    </figure>
    <a href="/magazine" class="title">Magazine layouts on the web</a>
    <p>I collect several magazine layouts and recreate them with css.</p>
  </div>

  <div class="snippet">
    <figure>
      <img src="/img/lemonade.png" alt="iTunes screenshot of the album Lemonade with the dominant colours behaviour" />
    </figure>
    <a href="/palette" class="title">Color palette from image</a>
    <p>Recreating the iTunes library behaviour where  the track list takes a gradient of the album cover as a background.</p>
  </div>
</div>
