<section class="about-section">
  <section class="about__intro">
    <h1 class="about__title">About</h1>
    <p class="about__main-desc">
      John Roderick is an American musician, writer, <a href="http://www.merlinmann.com/roderick">podcaster</a>, and politician. Born in Seattle, Washington, he grew up in Anchorage, Alaska, where as a young man he worked as a sluice box mucker for a gold mining operation in the area. He is currently the lead singer and guitarist in the band The Long Winters and was formerly a touring member of the band Harvey Danger. He is also a frequent guest musician on recordings by other bands, appearing on the Death Cab for Cutie album Transatlanticism, the Nada Surf album The Weight Is a Gift, The Decemberists album Picaresque, and the David Bazan album Curse Your Branches, as well as recordings by BOAT, Visqueen, Say Hi, Denver Dalley, Shelby Earl and Ken Stringfellow. He collaborated with Jonathan Coulton for Coulton's album, Artificial Heart, released in September 2011 and a duo album called One Christmas at a Time in November 2012. Roderick became a founding member of the Seattle Music Commission in 2010.
    </p>
  </section>
</section>
