<header>
  <div class="header__container">
    <a href="/" class="header__title">This should be a logo</a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="/about">About</a></li>
        <li class="global-nav__item"> <a href="http://twitter.com/bbyms">Twitter</a></li>
      </ul>
    </nav>
  </div>
</header>
